@import "tailwindcss";
@plugin '@tailwindcss/typography';

.nav-link{
    @apply flex gap-4 py-8 items-center justify-center w-screen;
}

.link-button{
    @apply relative px-4 py-2 text-slate-200 rounded-lg;
}

.link-button::after{
    content: '';
    @apply absolute left-0 -bottom-1 w-0 h-0.5 bg-gradient-to-r from-blue-400 to-purple-400 transition-all duration-300;
}

.link-button:hover::after{
    @apply w-full;
}

.article-link-button{
    @apply relative pt-1 text-slate-200 rounded-lg;
}

.article-link-button::after{
    content: '';
    @apply absolute left-0 -bottom-1 w-0 h-0.5 bg-gradient-to-r from-blue-400 to-purple-400 transition-all duration-300;
}

.article-link-button:hover::after{
    @apply w-full;
}

.prose{
    max-width: 80ch
}

body {
  overflow-x: hidden;
  font-family: "Zen Kaku Gothic New", serif;
  font-weight: 400;
  font-style: normal;
}

/* スクロールバー全体のスタイル */
::-webkit-scrollbar {
  width: 8px; /* スクロールバーの幅 */
}

/* スクロールバーのトラック部分（背景） */
::-webkit-scrollbar-track {
  background: #1a1a1a; /* 例: 黒っぽい背景 */
}

/* スクロールバーのスライダー部分（動く部分） */
::-webkit-scrollbar-thumb {
  background: #323436; /* 例: 青系 */
  border-radius: 4px; /* 角を丸くする */
}

/* スクロールバーのスライダーにホバーしたとき */
::-webkit-scrollbar-thumb:hover {
  background: #404047; /* 例: ちょっと濃い青 */
}