---
import Layout from '../layouts/Layout.astro';
---

<Layout>
<div class="flex items-center justify-center w-screen">
<h1 class="text-2xl text-slate-700">インターネットの虚無を漂うクラゲになりたい</h1>
</div>
</Layout>
