---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
<div class="flex items-center justify-center w-screen min-h-100">
<div class="text-xl text-slate-200">インターネットの虚無を漂うクラゲになりたい</div>
</div>
</Layout>
