---
import { Image } from 'astro:assets'
import logo from '/src/assets/logo2.png'
---

<div class=nav-link>
    <a href="/" class="link-button">
        <Image src={logo} alt="logo" class="h-12 w-12"/>
    </a>
    <a href="/about/" class="link-button">about</a>
</div>