---
import Navigation from '../components/Navigation.astro';
import "../styles/global.css";
---

<!doctype html>
<html lang="jp">
	<head>
		<meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">
		<title>Rota</title>
	</head>
	<body>
		<div class="bg-zinc-900 min-h-screen">
			<Navigation />
			<div class="flex justify-between">
				<slot />
			</div>
		</div>
	</body>
</html>